<a href="https://colab.research.google.com/github/cbedart/CBPPS/blob/2024/CBPPS_partie1_variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**<h1><center>Partie 1 - Introduction, premiers pas, et variables</center></h1>**

---

# **➤ Introduction générale:**

### **Qu'est ce que le "Python" ?**

- Langage de programmation créé en 1989, et rendu public en 1991
- Dernière version = Version 3.13 en octobre 2024
- Python version 2 parfois encore utilisée, mais obsolète et n'a pas les mêmes conventions = A éviter +++
- Caractéristiques intéressantes, ce qui en fait un langage de programmation clé dans de nombreux domaines:
    - Multiplateforme = Fonctionne aussi bien sur Windows, Linux, Mac OSX, Android, iOS, petites puces type Raspberry Pi, supercalculateurs, etc.
    - Gratuit et relativement simple à prendre en main
    - Langage de haut niveau = Demande peu de connaissance sur le fonctionnement d'un ordinateur pour être utilisé
    - Langage interprété = Pas besoin de compiler le script pour être exécuté, contrairement au C et C++
    - Orienté objet = Possible de concevoir des entités qui miment celles du monde réel avec un certain nombre de règles de fonctionnement et d'interactions.
    - De très loin le langage le plus utilisé au monde
    - Très utilisé en analyse de données, pour la réalisation de figures de qualité pour publication, en bioinformatique, en chémoinformatique, etc.

### **Google Colab ?**

- Environnement de développement interactif en ligne et gratuit, fourni par Google
- Basé sur Jupyter Notebook:
    - Permet d'écrire et d'exécuter du code Python directement depuis un navigateur web
    - Affichage des résultats en dessous des différents blocs de code
    - Permet également d'avoir des blocs de texte formatable en Markdown et en HTML, qui permet d'ajouter des commentaires, ou de produire des documents complexes (comme ces cours!)
- Avantage majeur = Accès gratuit à des ressources de calcul puissantes, aussi bien CPU (utilisées au cours de ces séances) que GPU/TPU
- Pour exécuter un bloc de code, il suffit d'appuyer sur le petit play à gauche du bloc quand celui-ci est survolé
- Vous pouvez ajouter un nouveau bloc de code ou de texte en passant votre souris entre les blocs (image ci-dessous) ou en utilisant les boutons `+ Code` ou `+ Texte` en haut

<center><img width=600 border=2 src=""></center>

- Certains éditeurs de code hors ligne permettent également d'exécuter ces notebooks, comme Visual Studio Code (recommandé) ou PyCharm. Ils nécessitent toutefois vos propres ressources matérielles, donc dépendant de votre ordinateur.
- Vous pouvez également, dans certaines configurations, avoir un serveur Jypyter Notebook qui tourne sur un ordinateur plus puissant ou un superordinateur, et y accéder à partir de votre navigateur web pour bénéficier de ses ressources matérielles sans utiliser celles de votre ordinateur.

### **Ressources ayant permis ce cours**

Le cours se base sur d'excellentes ressources disponibles sur internet ou en librairie (parfois également dispo sur ScholarVox en passant par l'ENT):
- https://www.pythoncheatsheet.org/
- https://quickref.me/python.html (super synthétique mais nécessite un adblocker +++)
- Data Sciences Institute at the University of Toronto - https://github.com/UofT-DSI/python/tree/main
- Apprendre à programmer avec Python - Gérard Swinnen
- Automate the Boring Stuff with Python, 2nd Edition: Practical Programming for Total Beginners - Al Sweigart
- Python Crash Course, 3rd Edition: A Hands-On, Project-Based Introduction to Programming - Eric Matthes
- Programmation en Python pour les sciences de la vie, 1ère édition - Patrick Fuchs, Pierre Poulain
- https://openclassrooms.com/fr/courses/7168871-apprenez-les-bases-du-langage-python

### **Premiers pas avec un exemple**

- La fonction `print()` permet d'afficher une sortie

In [ ]:
print("Première ligne en python!")

- Utiliser un `#` permet de créer un commentaire = Toute la ligne sera ignorée

In [ ]:
# Premier commentaire !
print("Réussi")

- Python fonctionne pour certaines fonctions/commandes avec des **blocs d'instructions**, nécessitant des **indentations** (le plus souvent 4 espaces, ou une tabulation).
- L'identation doit être homogène pour que tout fonctionne parfaitement. **La convention est donc d'utiliser 4 espèces pour une indentation** dans tous les scripts codés en python.
- Ce concept sera vu plus tard avec les boucles, les comparaisons, les tests, etc.



```
elements = [1,2,3,4]
sortie vide
pour chaque élément dans elements:
    afficher élément
    compléter progressivement une sortie
afficher sortie
```

- Vous pouvez parfois rencontrer un `\` en fin de ligne: cela permet de couper la ligne de code pour la coder sur plusieurs lignes, mais qui sera interprété comme une unique grande ligne.

In [ ]:
print("C'est encore une fois réussi, par contre ce commentaire est vraiment \
mais vraiment beaucoup trop long. Tellement long que je n'arrive pas à \
le lire correctement. Heureusement que Python est un minimum intelligent \
et va tout rassembler ce paragraphe dans une seule ligne !")

<br />

---

# **➤ Variables?**

- Élément fondamental pour stocker des informations
- Déclaration d'une variable = Initialisation
- Possède un nom
- Fonctionne comme une boîte, accessible et manipulable à façon

<br />

Les variables permettent de:
- **Stocker des valeurs**: Une donnée numérique, une chaîne de caractères, ou des formats bien plus complexes qui seront abordés progressivement
- **Réutiliser les données**: Une fois la valeur stockée, elle peut être réutilisée autant de fois que souhaité sans réécrire la valeur
- **Simplifier le code**: Rend le code plus lisible et facile à modifier. La variable peut être modifiée directement en amont sans devoir modifier l'entièreté du code.
- **Rendre le programme dynamique**: Rend un programme adaptable en fonction de l'utilisateur/conditions, et prend en compte ces changements au cours de l'exécution du code.

<h2><b> Comment définir une variable ? </b></h2>

- Lui donner un nom
- Utiliser le symbole = pour l'assignation
- Lui attribuer une valeur

Exemples:

In [ ]:
nom = "Mélatonine"
dose = 5
concentration = 1.5

<br />

---

# **➤ Règles de nommage:**

Le nom des variables en Python ne peut être constitué que de:
- Lettres minuscules (a - z)
- Lettres majuscules (A - Z)
- Chiffres (0 - 9)
- Tiret bas _ (aussi appelé "tiret du 8", ou encore underscore)

<br />

Autres règles:
- Les noms de variables sont sensibles à la casse: deux noms avec des majuscules différentes sont des variables différentes, par exemple "valeur_nom" et "valeur_Nom" sont différentes.
- Impossible de débuter un nom de variable par un chiffre
- Pas recommandé de débuter par un tiret bas (réservé aux variables internes), ni une majuscule (réservé aux classes)
- Éviter d'utiliser un mot déjà utilisé pour certaines fonctions (print, type, for, if, ...)

<br />

Bonnes pratiques:
- **Noms explicites**: Utiliser des noms qui décrivent le contenu de la variable
- **Respecter les conventions**: Utiliser que des minuscules avec des underscores pour séparer les mots
- **Eviter les mots réservés** : Pour ne pas perdre l'accès aux fonctions les plus utiles

<br />

Exemples:

In [ ]:
nom_medicament = "Mélatonine"
nom_Medicament = "Paracétamol"
poids_patient = 70
dose_mg = 5

print(nom_medicament)
print(nom_Medicament)

<br />

---

# **➤ Types de variables:**

Il existe 4 grands types de variables utilisées couramment en python:

- Entiers (int)
- Nombres décimaux (float)   
- Chaînes de caractères (str)
- Booléens (bool)

### **Entiers = Integers (int)**

- Utilisé pour stocker des **nombres entiers**
- Adapté pour des valeurs quantitatives ou discrètes
- Type = `int`

In [ ]:
poids_patient = 70
dose_mg = 5

### **Nombre décimaux, à virgule flottante = Floats (float)**

- Utilisé pour stocker des **nombres décimaux**
- Adapté pour les calculs nécessitant des précisions
- **Séparateur = POINT** (et non pas virgule)
- Type = `float`

In [ ]:
concentration = 1.5
poids = 82.6

### **Chaînes de caractères = Strings (str)**

- Utilisé pour stocker du texte ou des séquences de caractères
- Adapté pour manipuler des noms, codes, catégories, informations descriptives, ...
- Tous les caractères sont acceptés
- Défini par des guillemets " ou des apostrophes ' (un même type doit être utilisé au début et à la fin du string)
- Type = `str`
- Caractères spéciaux ("escape characters"):
    - `\"` ou `\'` = Pour permettre d'utiliser des guillemets et apostrophes dans le texte sans ouvrir/fermer la variable. Si " est utilisé pour créer la variable, ' peut être utilisé directement dans le string, et inversement.
    - `\n` = Nouvelle ligne
    - `\t` = Tabulation
    - `\r` = Retour en début de ligne (très peu utilisé, sauf Windows)
    - `\uXXXX` pour utiliser un identifiant Unicode (exemple `\u03B1` code pour α) - https://symbl.cc/en/unicode-table/

In [ ]:
nom_medicament = "Paracétamol"
nom_princeps1 = 'Doliprane'

description1 = "Il s'agit d'un médicament."

description2 = "Il lui a prescript du \"Doliprane\" effervescent."
print(description2)

In [ ]:
test_stat = "Le risque \u03B1 est fixé à 5%"
print(test_stat)

In [ ]:
# Cas spécifique, 3 guillemets/apostrophes peuvent également être utilisées. Principalement utilisé pour définir des variables sur plusieurs lignes
nom_princeps2 = """Dafalgan"""
description3 = """Le patient est sorti d'affaire.
Il a bien pris son médicament."""

print(description3)

### **Booléens = Booleans (bool)**

- Représente des valeurs logiques:
- **`True`** = VRAI
- **`False`** = FAUX
- Toujours une majuscule en début de mot
- Adapté dans des conditions, des décisions logiques
- Exemple pour vérifier si une condition est remplie ou non
- Type = `bool`

In [ ]:
a_fievre = True
traitement_efficace = False
dose_valide = True

<br />

---

# **➤ Opérations sur les variables:**

Chaque type de variable permet d'utiliser un ensemble d'opérations pour réaliser des calculs, des comparaisons, des transformations, ...

### Opérations sur les entiers et nombres à virgules (éléments numériques)

Les ints et floats permettent de réaliser des opérations mathématiques basiques:

| Opération           | Symbole | Exemple      | Résultat                  |
|---------------------|---------|--------------|---------------------------|
| Addition            | `+`     | `5 + 3`      | `8`                       |
| Soustraction        | `-`     | `10 - 4`     | `6`                       |
| Multiplication      | `*`     | `7 * 2`      | `14`                      |
| Division            | `/`     | `15 / 3`     | `5.0` (toujours un float) |
| Exponentiation      | `**`    | `2 ** 3`     | `8`                       |
| Division entière    | `//`    | `7 // 2`     | `3` (arrondit vers le bas)|
| Modulo (reste)      | `%`     | `10 % 3`     | `1` (reste de la division)|

<br /> Exemples:

In [ ]:
dose_journaliere = 1.5
jours_traitement = 10

dose_totale = dose_journaliere * jours_traitement
print(dose_totale)

In [ ]:
patients = 3
doses_totales = 50
doses_par_patient = doses_totales // patients
print(doses_par_patient)

### Opérations sur les chaînes de caractères

Les strings permettent des opérations de concaténation (= combinaison) et de répétition:

| Opération           | Symbole | Exemple               | Résultat                       |
|---------------------|---------|-----------------------|--------------------------------|
| Concatenation       | `+`     | `"Prénom : " + "Robert"`| `"Prénom : Robert"`               |
| Répétition          | `*`     | `"Non " * 3`     | `"Non Non Non "`   |

### Opérations logiques et comparaisons (bool)

Les opérations sur les booléens permettent de réaliser des comparaisons, des opérations logiques, ...

| Opération           | Symbole | Exemple                  | Résultat                  |
|---------------------|---------|--------------------------|---------------------------|
| Égalité             | `==`    | `5 == 5`                | `True`                    |
| Inégalité           | `!=`    | `5 != 4`                | `True`                    |
| Plus grand que      | `>`     | `10 > 5`                | `True`                    |
| Plus petit que      | `<`     | `3 < 5`                 | `True`                    |
| Plus grand ou égal  | `>=`    | `5 >= 5`                | `True`                    |
| Plus petit ou égal  | `<=`    | `3 <= 4`                | `True`                    |
| ET logique          | `and`   | `(a > b) and (a > c)`   | `True` si les deux sont vrais |
| OU logique          | `or`    | `(a > b) or (a > c)`    | `True` si au moins un est vrai|
| Négation            | `not`   | `not(a > b)`            | `False` si `a > b` est vrai|

### Conversions de types

Les conversions permettent de transformer un type de variable en un autre. Utile quand des opérations impliquent plusieurs types (pour rappel, la fonction "print" n'accepte qu'un seul type de variable, sauf en cas de conversion vers le type utilisé).

La conversion ne fonctionne que si, après conversion, la valeur peut être attribuée:
- De valeurs numériques et bool à string, pas de problème
- De string à valeur numérique, seulement si le string ne contient qu'un texte d'une valeur numérique
- De string à bool, seul le chiffre 0 donnera False, tout le reste donnera True


| Fonction        | Description                                | Exemple           | Résultat                |
|-----------------|-------------------------------------------|-------------------|-------------------------|
| `int()`         | Convertit en entier                       | `int(3.6)`       | `3`                     |
| `float()`       | Convertit en nombre décimal               | `float("3.6")`   | `3.6`                   |
| `str()`         | Convertit en chaîne de caractères         | `str(5)`         | `"5"`                   |
| `bool()`        | Convertit en booléen (0 = False, 1+ = True) | `bool(0)`, `bool(10)` | `False`, `True` |

### Quelques fonctions utiles

- **`min()`** : Permet de renvoyer le minimum de plusieurs integers/floats.
- **`max()`** : Permet de renvoyer le maximum de plusieurs integers/floats.

In [ ]:
min(1,2,3,4)

In [ ]:
max(1.3, 2.5, 6)

In [ ]:
min(5/6, 1/3, 8/7, 2)

\- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

- **`print():`**
    - Peut être utilisée en plus de la concaténation des strings pour pouvoir créer une sortie complexe. Dans ce cas, print n'accepte qu'un seul type de variable. Si des strings sont utilisés, tous les autres variables doivent être converties en string. Si des éléments numériques sont utilisés, cela réalisera l'opération mathématique avant l'affichage.
    - Plusieurs variables peuvent être données à la suite, séparées par des virgules, permettant d'afficher les éléments sans les convertir au préalable. Un espace sera utilisé par défaut pour séparer les éléments.
    - Possède des arguments supplémentaires,comme:
        - `end="X"` qui permet de préciser quel sera le suffixe à la fin de l'affichage.
        - `sep="X"` qui permet de préciser quel sera le séparateur utilisé lors d'un affichage avec plusieurs variables renseignées et séparées par des virgules.

In [ ]:
nom_patient = "Robert"
medicament = "Paracétamol"
duree_traitement = 5

print(nom_patient + " doit prendre du " + medicament + " pendant " + str(duree_traitement) + " jours.")

In [ ]:
print(nom_patient, "doit prendre du", medicament, "pendant", duree_traitement, " jours.")

In [ ]:
print(nom_patient, "doit prendre du", medicament, "pendant", duree_traitement, "jours.", sep = "-")

\- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

- **Opérateurs d'affectation augmentée:**
    - Pour simplifier le code, Python permet d'utiliser des "opérateurs d'affectation augmentée" qui permet de raccourcir la modification d'une variable par un opérateur.
    - Au lieu de `a = a + 1`, il est possible d'utiliser `a += 1`
    - Fonctionn avec:
        - Additions `+=`
        - Soustractions `-=`
        - Divisions `/=` et `//=`
        - Modulo `%=`
        - Multiplications et puissance `*=` et `**=`

In [ ]:
duree_traitement = 5

duree_traitement += 3
print("Durée du traitement +3 jours =", duree_traitement, "jours")

duree_traitement /= 2
print("Durée du traitement divisé par deux =", duree_traitement, "jours")

\- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

- **Ecriture formatée par l'utilisation de f-strings**
    - Permet encore plus de personnalisation au niveau des strings
    - Nécessite juste un `f` avant le string, exemple `f"Robert"`
    - Une variable peut être placée sans problème et sans conversion dans un f-string avec des accolades, et le nom de la variable au milieu, exemple `f"Robert a {age} ans."`
    - Des opérations, des fonctions, ou autres expressions, peuvent être directement utilisées au sein des accolades d'un f-string, exemple `f"Robert possède {doigts_droite + doigts_gauche} doigts."`
    - Des modificateurs peuvent être ajoutés pour formater l'affichage à l'aide du symbole deux points `:` après le nom de la variable
    - Exemple pour n'afficher seulement que les 2 premières décimales = `f"Robert a une glycémie de {glycemie:.2f} g/L."`
    - Si des accolades doivent être utilisées dans le texte, il faut les doubler, exemple `Accolades littérales {{}} ou {{ ou }}`
  
Autres modificateurs possibles:

| Modificateur | Description                                                                                      | Exemple                            | Résultat                        |
|--------------|--------------------------------------------------------------------------------------------------|------------------------------------|---------------------------------|
| `:.nf`       | Affiche un nombre flottant avec `n` décimales.                                                   | `f"{3.14159:.2f}"`                 | `3.14`                          |
| `:d`         | Affiche un entier en notation décimale.                                                          | `f"{42:d}"`                        | `42`                            |
| `:x`         | Affiche un entier en hexadécimal (minuscule).                                                    | `f"{255:x}"`                       | `ff`                            |
| `:X`         | Affiche un entier en hexadécimal (majuscule).                                                    | `f"{255:X}"`                       | `FF`                            |
| `:b`         | Affiche un entier en binaire.                                                                    | `f"{10:b}"`                        | `1010`                          |
| `:,`         | Ajoute une virgule comme séparateur de milliers (en notation décimale).                          | `f"{1000000:,}"`                   | `1,000,000`                     |
| `:_`         | Ajoute un souligné `_` comme séparateur de milliers (notation numérique européenne).             | `f"{1000000:_}"`                   | `1_000_000`                     |
| `:%`         | Affiche un nombre en pourcentage (multiplie par 100 et ajoute `%`).                              | `f"{0.85:%}"`                      | `85.000000%`                    |
| `:.n%`       | Affiche un nombre en pourcentage avec `n` décimales.                                             | `f"{0.85:.1%}"`                    | `85.0%`                         |
| `:e`         | Affiche un nombre en notation scientifique (exposant minuscule).                                 | `f"{12345:e}"`                     | `1.234500e+04`                  |
| `:E`         | Affiche un nombre en notation scientifique (exposant majuscule).                                 | `f"{12345:E}"`                     | `1.234500E+04`                  |
| `:>n`        | Aligne le texte à droite, avec une largeur de `n` caractères.                                    | `f"{42:>5}"`                       | `   42`                         |
| `:<n`        | Aligne le texte à gauche, avec une largeur de `n` caractères.                                    | `f"{42:<5}"`                       | `42   `                         |
| `:^n`        | Centre le texte, avec une largeur de `n` caractères.                                             | `f"{42:^5}"`                       | ` 42  `                         |
| `:0n`        | Remplit avec des zéros à gauche, pour une largeur de `n` caractères.                             | `f"{42:05}"`                       | `00042`                         |

In [ ]:
texte = f"Robert"
print(texte)

In [ ]:
age = 55
texte = f"Robert a {age} ans."
print(texte)

In [ ]:
glycemie = 1.04589
texte = f"Robert a une glycémie de {glycemie:.2f} g/L."
print(texte)

<br />

---

# **➤ Exercices:**

**<u>Exercice 1:</u>** Essayez de prédire le résultat de chacune des lignes suivantes:
1. `(1+2)**3`
2. `("Pa"+"La") * 2`
3. `5 / 2`
4. `5 // 2`
5. `5 % 2`
6. `str(4) * int("3")`
7. `int("3") + float("3.2")`
8. `str(3) * float("3.2")`
9. `str(3/4) * 2`

In [ ]:
# Exercice 1:

# 1. =
# 2. =
# 3. =
# 4. =
# 5. =
# 6. =
# 7. =
# 8. =
# 9. =

**<u>Exercice 2:</u>**
Créez un script qui permet de faire une conversion des concentrations de mg/L à g/L

In [ ]:
# Exercice 2:

**<u>Exercice 3:</u>** Sans taper littéralement toutes les bases, générez:
1. Un string représentant un brin d'ADN polyA (ne contenant que des bases A) de 30 bases de longueur
2. Un string représentant un brin d'ADN poly-A de 20 bases, suivi d'un poly-GC (GCGCGC...) de 40 bases.
3. Affichez le contenu de la variable `perc_GC = ((4500 + 2575)/14800)*100` avec 0, 1, 2, puis 3 décimales sous forme arrondie en utilisant l'écriture formatée et les f-strings. On souhaite que le programme affiche la sortie suivante:
```
Le pourcentage de GC est 48     %
Le pourcentage de GC est 47.8   %
Le pourcentage de GC est 47.80  %
Le pourcentage de GC est 47.804 %
```

In [ ]:
# Exercice 3 - Partie 1:

In [ ]:
# Exercice 3 - Partie 2:

In [ ]:
# Exercice 3 - Partie 3:

**<u>Exercice 4:</u>**

1. Créez un script pour calculer l'IMC d'un individu qui pèse 70kg et mesure 1m70. Il est nécessaire de fournir une sortie qui génère une phrase du style "L'individu pesant X et mesurant X possède une IMC de X", avec un arrondi à la 1ère décimale.
3. Copiez ensuite votre script pour ne modifier que vos variables, et mesurer l'IMC d'un individu qui pèse 110kg pour 1m98.

Pour rappel: $\text{IMC} = \frac{\text{Poids (en kg)}}{\left(\text{Taille (en m)}\right)^2}$

In [ ]:
# Exercice 4 - Partie 1:

In [ ]:
# Exercice 4 - Partie 2:

**<u>Exercice 5:</u>**
Créez un script pour convertir les degrés Fahrenheit en degrés Celcius, puis de degrés Celcius à Fahrenheit.

Pour rappel:
- $\text{Celsius (°C)} = \frac{5}{9} \times (\text{Fahrenheit (°F)} - 32)$
- $\text{Fahrenheit (°F)} = \left(\text{Celsius (°C)} \times \frac{9}{5}\right) + 32$

In [ ]:
# Exercice 5 - Partie 1:

In [ ]:
# Exercice 5 - Partie 2: