<a href="https://colab.research.google.com/github/cbedart/CBPPS/blob/2024/CBPPS_part2_lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**<h1><center>Part 2 - Lists and their manipulation</center></h1>**

---

# **➤ Lists**

- Data structure containing a collection of objects
- Can contain variables, but not only
- Sequential object = Contains a sequence of other objects

<br />

The lists are:
- Encoded using brackets `[` and `]`
- The series of values ​​is separated by commas `,`

In [ ]:
list1 = ["hazelnuts", "apples", "oranges", "pears"]
list2 = [12, 54, 29]
list3 = ["ruler", 14.368, "disk", 12]

print(list3)

<br />

---

### **Order of values**

-It is possible to access the different elements by their position = Their index
-**/!\ In python, the first element is always number 0 and the last is number n-1**
-It is possible to use negative indices which will be counted from the end, starting from -1

`liste1 = ["hazelnuts", "apples", "oranges", "pears"]`
<br />
`Index +: ..... 0 ........ 1 ........ 2 ....... 3`
<br />
`Index -: .... -4 ....... -3 ....... -2 ...... -1`

- If the index is wrong = Error like `IndexError: list index out of range`

In [ ]:
print(list1[0])

In [ ]:
print(list1[1])

In [ ]:
print(list1[2])

In [ ]:
print(list1[3])

In [ ]:
print(list1[4])

In [ ]:
print(list1[-2])

<br />

---

### **Slices**

- Also possible to select part of the list using a sequence of indices in the form `[m:n+1]`
- Retrieving all elements starting from index **`m INCLUDED`**
- Up to the index **`n+1 EXCLUTED`**
- If `m` is not specified, all elements from the beginning will be selected
- If `n+1` is not specified, all elements until the end will be selected
- You can also specify a `step` in addition to `m` and `n+1` with a 3rd element, of the type `[m:n+1:step]`

In [ ]:
print(list1[0:2])

In [ ]:
print(list1[1:])

In [ ]:
print(list1[:3])

In [ ]:
print(list1[0:2:2])
print(list1[::2])

<br />

---

### **List operations**

- Works much the same as strings
- Concatenations using `+` : Allows you to merge two lists
- Duplications using `*` : Allows you to generate long lists of repeated elements

In [ ]:
list1 = ["hazelnuts", "apples", "oranges", "pears"]
list2 = ["sugar", "milk", "flour"]

print(list1 + list2)

In [ ]:
print(list2 *2)

- Possibility of adding elements to a list with the `.append()` method associated with lists
- This method directly modifies the list, no need to use the `=` symbol
- `liste.append(12)` is equivalent to `liste = list + [12]`

In [ ]:
list1.append("strawberries")
print(list1)

<br />

---

### **Important use of lists:**
- Creating an empty list
- Adding elements gradually with either `+` or `.append()`

In [ ]:
list4 = []
print(list4)

In [ ]:
list4 = list4 + ["Concatenation"]
print(list4)

In [ ]:
list4.append(12)
print(list4)

<br />

---

### **Change an element of a list:**
- Simply replace the element that wants to be modified with a new element

In [ ]:
print(list4)

list4[1] = 14

print(list4)

### **Using methods to precisely modify elements in a list:**
- `liste.append()` allows you to add an element at the end of the modified list (and only one element!)
- `liste.extend()` allows you to add the elements of a list at the end of the modified list.
- `liste.insert()` allows you to insert an element at a specific position by giving it an index.
- `liste.pop()` allows you to remove an element at a specific position by giving it an index.
- `liste.remove()` allows you to remove an element based on its value.
- `liste.sort()` allows you to sort the elements of the list according to their value. Default = ascending. To have the descending order, you must use the reverse argument: `liste.sort(reverse=True)`
- `liste.reverse()` allows you to completely reverse the order of the list.

In [ ]:
list4 = [1,2,3,4]
list4.append([5,6])
print(list4)

In [ ]:
list4 = [1,2,3,4]
list4.extend([5,6])
print(list4)

In [ ]:
list4 = [1,2,3,4]
list4.insert(3, "three little cats")
print(list4)

In [ ]:
list4 = [1,2,3,4]
list4.pop(2)
print(list4)

In [ ]:
list4 = [1,2,3,4]
list4.remove(2)
print(list4)

In [ ]:
list4 = [1,5,2,4,3]

list4.sort()
print(list4)

list4.sort(reverse=True)
print(list4)

In [ ]:
list4 = [1,2,3,4]
list4.reverse()
print(list4)

<br />

---

### **Interesting case = a string is a non-modifiable list of characters**

Everything above, whether using indices, slices, and operations, works on strings

/!\ It is not possible to modify letters by replacing the value obtained by its index, a **string is a non-modifiable list**

In [ ]:
string1 = "hazelnut"

print(string1[0])
print(string1[:3])
print(string1[-2])
print(string1 + string1)
print(string1 *3)

In the same way as above, as a string can be considered as a list of characters, the `liste.extend()` method will add each character to the list separately:

In [ ]:
liste = []
liste.extend(string1)
print(liste)

<br />

---

### **Second interesting case = a tuple is an unmodifiable list**

- In the same way as for strings, tuples are lists that cannot be modified. They are even immutable: nothing can be added, removed, modified.
- The only way to modify a tuple is to create a completely new tuple using list operations.
- Instead of using square brackets `[ and ]`, parentheses are used `( and )`

In [ ]:
tuple1 = ("sugar", "milk", "flour")
print(tuple1[0])

In [ ]:
tuple1.append("yeast")

In [ ]:
tuple1 = tuple1 + ("yeast",)
print(tuple1)

<br />

---

### **Some functions, methods, and useful information for lists**

- **`len():`**
    - Allows you to know the length of a list = The number of elements it contains

In [ ]:
list1 = ["hazelnuts", "apples", "oranges", "pears"]
print(f"List1 contains {len(list1)} elements.")

\-------------------------------------------------------------------------------

- **`range()`**
    - The `range()` function allows you to generate a sequence of integers in an interval. If only one integer X is used, the function will make a list from 0 (inclusive) to X (excluding). Example, `range(5)` gives the list `[0,1,2,3,4]`
    - Several parameters can be given, to specify the start, end, and step. Example, `range(2,5)` gives the list `[2,3,4]`, and `range(0,5,2)` gives the list `[2,3,4]`
    - However, the `range()` function generates elements of type `range`: Python knows how to use them (and is very useful in some cases later), but it is not easy to understand them as human
- **`list()` and `tuple()`:**
    - The `list()` and `tuple()` functions, just like the `int() /str() /float()` functions, allow you to convert something into the list and tuple types respectively
    - Allows, among other things, to convert lists into tuples and vice versa, or a string into a list/tuple

In [ ]:
range(5)

In [ ]:
list(range(5))

In [ ]:
list(range(2,5))

In [ ]:
list(range(0,5,2))

\-------------------------------------------------------------------------------

- **`min()`, `max()` and `sum()`**:
    - Return the minimum, maximum and sum of a list respectively

In [ ]:
numeric_list = list(range(12))
print(f"Minimum = {min(numeric_list)}")
print(f"Maximum = {max(numeric_list)}")
print(f"Sum = {sum(numeric_list)}")

\-------------------------------------------------------------------------------

- **`.count()` method**:
    - Allows you to count the number of times element X is found in the list.

In [ ]:
list_count = [1,1,1,0,0,1,0,1,1,0,1,1,1,1,0,0,0,1]
print(f"The number of times 1 is present is {list_count.count(1)} times.")

\-------------------------------------------------------------------------------

- **`.index()` method**:
    - Allows you to obtain the index of a value using its name.

In [ ]:
list1 = ["hazelnuts", "apples", "oranges", "pears"]

print(list1.index("apples"))

\-------------------------------------------------------------------------------

- **`.split()` and `.join()` methods**:
    - These two methods allow you to convert from a string to a list, and vice versa, very easily.
    - /!\ These are both **string-based methods**, so in the form `"X".split("X")` or `"Y".join(Y)`. A variable containing a string can be used, for example `string1.split("/")` or `"_".join(liste1)`.
    - The `.split()` method can be used on a string to be able to subdivide it into a list based on the character you have chosen. The element will become a list of strings.
    - The `.join()` method can be used on a string containing the character you have chosen to subdivide, and takes a list as an argument. The element will become a string.

In [ ]:
string1 = "05/12/2025"
list1 = ["hazelnuts", "apples", "oranges", "pears"]

print(string1.split("/"))

In [ ]:
print("_".join(list1))

\-------------------------------------------------------------------------------

- A list allows you to gather values, **regardless of their type**:
    - we can therefore make a list of lists,
    - a list of tuples,
    - combine the most common types with lists,
    - or other types of values ​​which will be seen later
- We can access the elements of the lists in the list by successively using the indices
- Not very practical for storing information, but it is the starting point for more complex ways which will be seen gradually!

In [ ]:
list4 = [list1, list2, list3]
print(list4)

In [ ]:
print(list4[0][1])

\-------------------------------------------------------------------------------

- It is possible to make multiple assignments with lists or tuples
    - Allows you to create several variables from the values ​​of a list
    - In the form `a,b,c = [1,2,3]` or even without a conventional list `a,b,c = 1,2,3`
    - Requires the same number of elements to the right and left of the `=`
    - Can allow the values ​​of two variables to be swapped with `a,b = b,a`

In [ ]:
list1 = ["hazelnuts", "apples", "oranges", "pears"]
food1, food2, food3, food4 = list1

print(food1)

\-------------------------------------------------------------------------------

- In the same way as for `\ ` used generally, when a list remains open and a line ends with a comma `,`
- Python will put the entire definition of a list into one line.
- Can be very practical for long lists, or to improve the readability of the code.

In [ ]:
list1 = ["hazelnuts",
          "apples",
          "oranges",
          "pears",
          ]

print(list1)

<br />

---

# **➤ Exercises**

**<u>Exercise 1:</u>** Try to predict the outcome of each of the following lines:


1. `print(liste_exo1[2])`
2. `print(liste_exo1[1:4])`
3. `print(liste_exo1[3:])`
4. `print(liste_exo1[:3])`
5. `print(liste_exo1[-2:])`
6. `print(liste_exo1[varA_exo1])`
7. `print(liste_exo1[varB_exo1])`
8. `print(liste_exo1["varA_exo1])`

In [ ]:
# Exercise 1:
liste_exo1 = list(range(50, 55))
varA_exo1 = 0
varB_exo1 = 10

# 1. =
# 2. =
# 3. =
# 4. =
# 5. =
# 6. =
# 7. =
# 8. =

**<u>Exercise 2:</u>** You have measured 5 different concentrations, and created the `concentrations` list:
1. With an f-string, obtain the minimum and maximum concentrations.
2. Calculate and display the average in a second f-string.
3. You were wrong, and the 3rd concentration is not 4.6 g/L but 2.6 g/L. Edit the `concentrations` list using a method, and reuse the previous code to display the minimum, maximum, and average concentration.

In [ ]:
# Exercise 2:
concentrations = [3.4, 2.8, 4.6, 3.9, 5.1]     # in g/L

In [ ]:
# Exercise 2 - Part 1:

In [ ]:
# Exercise 2 - Part 2:

In [ ]:
# Exercise 2 - Part 3:

**<u>Exercise 3:</u>**
1. Create a `week` list with the 7 days of the week.
2. Recover the 5 working days on the one hand, then the weekend days on the other hand.
3. Do the same thing, but with different indices.
4. Reverse the days of the week in two different ways.

In [ ]:
# Exercise 3 - Part 1:

In [ ]:
# Exercise 3 - Part 2:

In [ ]:
# Exercise 3 - Part 3:

In [ ]:
# Exercise 3 - Part 4:

**<u>Exercise 4:</u>**
1. Create 4 lists `winter`, `spring`, `summer`, and `fall` with the months corresponding to the seasons.
2. Create a `seasons` list which contains the 4 lists.
3. What will be the item displayed by:
    -`seasons[2]`
    -`seasons[1][0]`
    -`seasons[1:2]`
    -`seasons[:][2]`
4. Change the first month of winter to "Galette", then display the `seasons` variable as well as the `winter` variable: is there something strange?

In [ ]:
# Exercise 4 - Part 1:

In [ ]:
# Exercise 4 - Part 2:

In [ ]:
# Exercise 4 - Part 3:

# seasons[2]    returns =
# seasons[1][0] returns =
# seasons[1:2]  returns =
# seasons[:][2] returns =

In [ ]:
# Exercise 4 - Part 4:

**<u>Exercise 5:</u>**Reply with a single line each time:
1. How many even numbers are there between 2 and 10000 inclusive?
2. Display the multiplication table of 9
3. Create a list of lists of lists to display `[[[1, 2, 3], [1, 2, 3]], [[1, 2, 3], [1, 2, 3]] ]`

In [ ]:
# Exercise 5 - Part 1:

In [ ]:
# Exercise 5 - Part 2:

In [ ]:
# Exercise 5 - Part 3: