<a href="https://colab.research.google.com/github/cbedart/CBPPS/blob/2024/EN_CBPPS_part1_variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**<h1><center>Part 1 -Introduction, first steps, and variables</center></h1>**

---

#**âž¤ General introduction:**

### **What is "Python"?**

- Programming language created in 1989, and made public in 1991
- Latest version = Version 3.13 in October 2024
- Python version 2 sometimes still used, but obsolete and does not have the same conventions = Avoid +++
- Interesting features, making it a key programming language in many fields:
- Multiplatform = Works equally well on Windows, Linux, Mac OSX, Android, iOS, small chips like Raspberry Pi, supercomputers, etc.
    - Free and relatively easy to use
    - High level language = Requires little knowledge of how a computer works to be used
    - Interpreted language = No need to compile the script to be executed, unlike C and C++
- Object oriented = Possible to design entities that mimic those of the real world with a certain number of operating rules and interactions.
    - By far the most used language in the world
    - Widely used in data analysis, for the production of quality figures for publication, in bioinformatics, in chemoinformatics, etc.

### **Google Colab ?**

- Free online interactive development environment, provided by Google
- Based on Jupyter Notebook:
    - Allows you to write and run Python code directly from a web browser
    - Display of results below the different code blocks
    - Also allows you to have blocks of text formattable in Markdown and HTML, which allows you to add comments, or to produce complex documents (like these courses!)
- Major advantage = Free access to powerful computing resources, both CPU (used during these sessions) and GPU/TPU
- To execute a block of code, simply press the small play button to the left of the block when it is hovered over it
- You can add a new block of code or text by hovering your mouse between the blocks (image below) or using the `+Code` or `+Text` buttons at the top

<center><img width=600 border=2 src=""></center>

- Some offline code editors also allow you to run these notebooks, such as Visual Studio Code (recommended) or PyCharm. However, they require your own hardware resources, therefore depending on your computer.
- You can also, in certain configurations, have a Jypyter Notebook server running on a more powerful computer or a supercomputer, and access it from your web browser to benefit from its hardware resources without using those of your computer.

### **Resources that enabled this course**

The course is based on excellent resources available on the internet or in bookstores (sometimes also available on ScholarVox via the ENT):
- https://www.pythoncheatsheet.org/
- https://quickref.me/python.html (super synthetic but requires an adblocker +++)
- Data Sciences Institute at the University of Toronto - https://github.com/UofT-DSI/python/tree/main
- Learn to program with Python - GÃ©rard Swinnen
- Automate the Boring Stuff with Python, 2nd Edition: Practical Programming for Total Beginners - Al Sweigart
- Python Crash Course, 3rd Edition: A Hands-On, Project-Based Introduction to Programming - Eric Matthes
- Python programming for life sciences, 1st edition - Patrick Fuchs, Pierre Poulain
- https://openclassrooms.com/fr/courses/7168871-apprenez-les-bases-du-python-language

### **First steps with an example**

- The `print()` function allows you to display output

In [ ]:
print("First line in python!")

- Using a `#` allows you to create a comment = The entire line will be ignored

In [ ]:
# First comment!
print("Successful")

- Python works for certain functions/commands with **instruction blocks**, requiring **indentations** (most often 4 spaces, or a tab).
- The identification must be consistent for everything to work perfectly. **The convention is therefore to use 4 species for indentation** in all scripts coded in python.
- This concept will be seen later with loops, comparisons, tests, etc.



```
elements = [1,2,3,4]
empty output
for each element in elements:
    show item
    gradually complete an outing
show output
```

- You can sometimes encounter a `\` at the end of a line: this cuts the line of code to encode it on several lines, but which will be interpreted as a single large line.

In [ ]:
print("It's once again successful, however this comment is really \
but really way too long. So long that I can't seem to \
read it correctly. Fortunately, Python is at least a little intelligent \
and will put this whole paragraph together in one line!")

<br />

---

# **âž¤ Variables?**

- Fundamental element for storing information
- Declaration of a variable = Initialization
- Has a name
- Works like a box, accessible and manipulated as required

<br />

Variables allow you to:
- **Storing values**: Numerical data, a character string, or much more complex formats which will be approached progressively
- **Reuse data**: Once the value is stored, it can be reused as many times as desired without rewriting the value
- **Simplify the code**: Makes the code more readable and easy to modify. The variable can be modified directly upstream without having to modify the entire code.
- **Make the program dynamic**: Makes a program adaptable depending on the user/conditions, and takes these changes into account during code execution.

<h2><b> How to define a variable? </b></h2>

- Give it a name
- Use the = symbol for assignment
- Assign a value to it

Examples:

In [ ]:
name = "Melatonin"
dose = 5
concentration = 1.5

<br />

---

#**âž¤ Naming rules:**

Variable names in Python can only consist of:
- Lowercase letters (a -z)
- Capital letters (A -Z)
- Numbers (0 -9)
- Underdash _ (also called "8 dash", or underscore)

<br />

Other rules:
- Variable names are case sensitive: two names with different capital letters are different variables, for example "name_value" and "name_Value" are different.
- Impossible to start a variable name with a number
- Not recommended to start with an underscore (reserved for internal variables), nor a capital letter (reserved for classes)
- Avoid using a word already used for certain functions (print, type, for, if, ...)

<br />

Best practices:
- **Explicit names**: Use names that describe the contents of the variable
- **Respect conventions**: Use only lowercase letters with underscores to separate words
- **Avoid reserved words**: To avoid losing access to the most useful functions

<br />

Examples:

In [ ]:
drug_name = "Melatonin"
drug_Name = "Paracetamol"
patient_weight = 70
dose_mg = 5

print(drug_name)
print(drug_Name)

<br />

---

#**âž¤ Variable types:**

There are 4 main types of variables commonly used in Python:

- Integers (int)
- Decimal numbers (float)   
- Character strings (str)
- Booleans (bool)

### **Integers (int)**

- Used to store **integer numbers**
- Suitable for quantitative or discrete values
- Type = `int`

In [ ]:
patient_weight = 70
dose_mg = 5

### **Decimal, floating point number = Floats (float)**

- Used to store **decimal numbers**
- Suitable for calculations requiring precision
- **Separator = POINT** (not comma)
- Type = `float`

In [ ]:
concentration = 1.5
weight = 82.6

### **Strings (str)**

- Used to store text or sequences of characters
- Suitable for handling names, codes, categories, descriptive information, etc.
- All characters are accepted
- Defined by quotes `""` or apostrophes `''` (the same type must be used at the start and end of the string)
- Type = `str`
- Special characters ("escape characters"):
- `\"` or `\'` = To allow the use of quotes and apostrophes in the text without opening/closing the variable. If " is used to create the variable, ' can be used directly in the string, and vice versa .
    - `\n` = New line
    - `\t` = Tab
    - `\r` = Return to start of line (very little used, except Windows)
    - `\uXXXX` to use a Unicode identifier (example `\u03B1` code for Î±) - https://symbl.cc/en/unicode-table/

In [ ]:
drug_name = "Paracetamol"
name_princeps1 = 'Doliprane'

description1 = "This is a medicine and I can put a ' in my string."

description2 = "He prescribed effervescent \"Doliprane\" for her."
print(description2)

In [ ]:
test_stat = "Risk \u03B1 is set at 5%"
print(test_stat)

In [ ]:
#Specific case, 3 quotation marks/apostrophes can also be used. Mainly used to define variables on multiple lines
princeps_name2 = """Dafalgan"""
description3 = """The patient is out of trouble.
He took his medicine well."""

print(description3)

### **Booleans (bool)**

- Represents logical values:
- **`True`** = TRUE
- **`False`** = FALSE
- Always a capital letter at the beginning of a word
- Adapted under conditions, logical decisions
- Example to check if a condition is met or not
- Type = `bool`

In [ ]:
have_fever = True
treatment_effective = False
valid_dose = True

<br />

---

# **âž¤ Variable operations:**

Each type of variable allows you to use a set of operations to carry out calculations, comparisons, transformations, etc.

### Operations on integers and decimal numbers (numeric elements)

Ints and floats allow you to perform basic mathematical operations:

| Operation | Symbol | Example | Result |
|---------------------|---------|--------------|---------------------------|
| Addition | `+` | `5 + 3` | `8` |
| Subtraction | `-` | `10 -4` | `6` |
| Multiplication | `*` | `7 *2` | `14` |
| Division | `/` | `15 /3` | `5.0` (always a float) |
| Exponentiation | `**` | `2**3` | `8` |
| Integer division | `//` | `7 //2` | `3` (rounded down)|
| Modulo (rest) | `%` | `10% 3` | `1` (remainder of division)|

<br /> Examples:

In [ ]:
daily_dose = 1.5
treatment_days = 10

total_dose = daily_dose *treatment_days
print(total_dose)

In [ ]:
patients = 3
total_doses = 50
doses_per_patient = total_doses //patients
print(doses_per_patient)

### String operations

Strings allow concatenation (= combination) and repetition operations:

| Operation | Symbol | Example | Result |
|---------------------|---------|-----------------------|--------------------------------|
| Concatenation | `+` | `"First name: " + "Robert"`| `"First name: Robert"` |
| Repetition | `*` | `"No " *3` | `"No No No"` |

### Logical operations and comparisons (bool)

Operations on Booleans allow comparisons, logical operations, etc.

| Operation | Symbol | Example | Result |
|---------------------|---------|--------------------------|----------------------------|
| Equality | `==` | `5 == 5` | `True` |
| Inequality | `!=` | `5 != 4` | `True` |
| Greater than | `>` | `10 > 5` | `True` |
| Smaller than | `<` | `3 < 5` | `True` |
| Greater or equal | `>=` | `5 >= 5` | `True` |
| Smaller or equal | `<=` | `3 <= 4` | `True` |
| AND logical | `and` | `(a > b) and (a > c)` | `True` if both are true |
| logical OR | `or` | `(a > b) or (a > c)` | `True` if at least one is true|
| Negation | `not` | `not(a > b)` | `False` if `a > b` is true|

### Type conversions

Conversions allow you to transform one type of variable into another. Useful when operations involve several types (as a reminder, the "print" function only accepts a single type of variable, unless converted to the type used).

The conversion only works if, after conversion, the value can be assigned:
- From numeric values â€‹â€‹and bool to string, no problem
- From string to numeric value, only if the string only contains text with a numeric value
- From string to bool, only the number 0 will give `False`, everything else will give `True`


| Function | Description | Example | Result |
|-----------------|--------------------------------------------|---------|-------------------------|
| `int()` | Convert to integer | `int(3.6)` | `3` |
| `float()` | Convert to decimal | `float("3.6")` | `3.6` |
| `str()` | Convert to string | `str(5)` | `"5"` |
| `bool()` | Converts to boolean (0 = False, 1+ = True) | `bool(0)`, `bool(10)` | `False`, `True` |

### Some useful functions

- **`min()`**: Allows you to return the minimum of several integers/floats.
- **`max()`**: Allows you to return the maximum of several integers/floats.

In [ ]:
min(1,2,3,4)

In [ ]:
max(1.3, 2.5, 6)

In [ ]:
min(5/6, 1/3, 8/7, 2)

\-------------------------------------------------------------------------------

- **`print():`**
- Can be used in addition to string concatenation to create complex output. In this case, print only accepts one type of variable. If strings are used, all other variables must be converted to string. If numeric elements are used, this will perform the mathematical operation before displaying.
- Several variables can be given in succession, separated by commas, allowing the elements to be displayed without converting them first. A space will be used by default to separate elements.
- Has additional arguments, such as:
    - `end="X"` which allows you to specify what the suffix will be at the end of the display.
    - `sep="X"` which allows you to specify which separator will be used when displaying several variables entered and separated by commas.

In [ ]:
patient_name = "Robert"
medication = "Paracetamol"
treatment_duration = 5

print(patient_name + " must take " + medication + " for " + str(treatment_duration) + " days.")

In [ ]:
print(patient_name, "must take", medication, "during", treatment_duration, "days.")

In [ ]:
print(patient_name, "must take", medication, "during", treatment_duration, "days.", sep = "-")

\-------------------------------------------------------------------------------

- **Augmented assignment operators:**
    - To simplify the code, Python allows the use of "augmented assignment operators" which allows you to shorten the modification of a variable by an operator.
    - Instead of `a = a + 1`, it is possible to use `a += 1`
    - Works with:
        - Additions `+=`
        - Subtractions `-=`
        - Divisions `/=` and `//=`
        - Modulo `%=`
        - Multiplications and power `*=` and `**=`

In [ ]:
treatment_duration = 5

treatment_duration += 3
print("Processing duration +3 days =", treatment_duration, "days")

treatment_duration /= 2
print("Processing duration divided by two =", treatment_duration, "days")

\-------------------------------------------------------------------------------

- **Writing formatted using f-strings**
    - Allows even more customization in terms of strings
    - Just requires an `f` before the string, example `f"Robert"`
- A variable can be placed without problem and without conversion in an f-string with braces, and the name of the variable in the middle, example `f"Robert is {age} years old."`
    - Operations, functions, or other expressions can be used directly within the braces of an f-string, example `f"Robert has {right_fingers + left_fingers} fingers."`
- Modifiers can be added to format the display using the colon `:` after the variable name
    - Example to display only the first 2 decimal places = `f"Robert has a blood sugar level of {glycemia:.2f} g/L."`
    - If braces must be used in the text, they must be doubled, example `Literal braces {{}} or {{ or }}`

Other possible modifiers:

| Modifier | Description | Example | Result |
|--------------|--------------------------------------------------------------------------------------------------|----------------------------------------|---------------------------------|
| `:.nf` | Displays a float number with `n` decimal places.                                                   | `f"{3.14159:.2f}"` | `3.14` |
| `:d` | Displays an integer in decimal notation.                                                          | `f"{42:d}"` | `42` |
| `:x` | Displays an integer in hexadecimal (lowercase).                                                    | `f"{255:x}"` | `ff` |
| `:X` | Displays an integer in hexadecimal (uppercase).                                                    | `f"{255:X}"` | `FF` |
| `:b` | Displays an integer in binary.                                                                    | `f"{10:b}"` | `1010` |
| `:,` | Adds a comma as thousands separator (in decimal notation).                          | `f"{1000000:,}"` | `1,000,000` |
| `:_` | Adds an underscore `_` as a thousands separator (European numerical notation).             | `f"{1000000:_}"` | `1_000_000` |
| `:%` | Shows a percentage number (multiply by 100 and add `%`).                              | `f"{0.85:%}"` | `85.000000%` |
| `:.n%` | Displays a percentage number with `n` decimal places.                                             | `f"{0.85:.1%}"` | `85.0%` |
| `:e` | Displays a number in scientific notation (lowercase exponent).                                 | `f"{12345:e}"` | `1.234500e+04` |
| `:E` | Displays a number in scientific notation (uppercase exponent).                                 | `f"{12345:E}"` | `1.234500E+04` |
| `:>n` | Aligns text to the right, with a width of `n` characters.                                    | `f"{42:>5}"` | `42` |
| `:<n` | Aligns text to the left, with a width of `n` characters.                                    | `f"{42:<5}"` | `42 ` |
| `:^n` | Centers the text, with a width of `n` characters.                                             | `f"{42:^5}"` | ` 42 ` |
| `:0n` | Padded with leading zeros, for a width of `n` characters.                             | `f"{42:05}"` | `00042` |

In [ ]:
text = f"Robert"
print(text)

In [ ]:
age = 55
text = f"Robert is {age} years old."
print(text)

In [ ]:
glycemia = 1.04589
text = f"Robert has a blood sugar level of {glycemia:.2f} g/L."
print(text)

<br />

---

#Â **âž¤ Exercises:**

**<u>Exercise 1:</u>** Try to predict the outcome of each of the following lines:
1. `(1+2)**3`
2. `("Pa"+"La") *2`
3. `5 /2`
4. `5 //2`
5. `5% 2`
6. `str(4) *int("3")`
7. `int("3") + float("3.2")`
8. `str(3) *float("3.2")`
9. `str(3/4) *2`

In [ ]:
# Exercise 1:

# 1. =
# 2. =
# 3. =
# 4. =
# 5. =
# 6. =
# 7. =
# 8. =
# 9. =

**<u>Exercise 2:</u>**
Create a script that converts concentrations from mg/L to g/L

In [ ]:
# Exercise 2:

**<u>Exercise 3:</u>** Without literally typing all the bases, generate:
1. A string representing a polyA DNA strand (containing only A bases) of 30 bases in length
2. A string representing a poly-A DNA strand of 20 bases, followed by a poly-GC (GCGCGC...) of 40 bases.
3. Display the contents of the variable `perc_GC = ((4500 + 2575)/14800)*100` with 0, 1, 2, then 3 decimal places in rounded form using formatted writing and f-strings. We want the program to display the following output:
```
The percentage of GC is 48     %
The percentage of GC is 47.8   %
The percentage of GC is 47.80  %
The percentage of GC is 47.804 %
```

In [ ]:
#Exercise 3 â€“ Part 1:

In [ ]:
#Exercise 3 â€“ Part 2:

In [ ]:
#Exercise 3 â€“ Part 3:

**<u>Exercise 4:</u>**

1. Create a script to calculate the BMI of an individual who weighs 70kg and is 1m70 tall. It is necessary to provide output that generates a sentence like "The individual weighing X and measuring X has a BMI of X", rounded to the 1st decimal place.
3. Then copy your script to modify only your variables, and measure the BMI of an individual who weighs 110kg and 1m98.

As a reminder: $\text{BMI} = \frac{\text{Weight (in kg)}}{\left(\text{Height (in m)}\right)^2}$

In [ ]:
#Exercise 4 â€“ Part 1:

In [ ]:
#Exercise 4 â€“ Part 2:

**<u>Exercise 5:</u>**
Create a script to convert from degrees Fahrenheit to degrees Celcius, then from degrees Celcius to Fahrenheit.

As a reminder:
- $\text{Celsius (Â°C)} = \frac{5}{9} \times (\text{Fahrenheit (Â°F)} -32)$
- $\text{Fahrenheit (Â°F)} = \left(\text{Celsius (Â°C)} \times \frac{9}{5}\right) + 32$

In [ ]:
#Exercise 5 â€“ Part 1:

In [ ]:
#Exercise 5 â€“ Part 2: